@-webkit-keyframes movedown {
  from {
    top: 80%;
  }
  to {
    top: 90%;
  }
}
@keyframes movedown {
  from {
    top: 80%;
  }
  to {
    top: 90%;
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #222831;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-weight: bold !important;
}

/* Start Link */
a {
  text-decoration: none;
  color: var();
  font-size: 17px;
}
a:hover {
  color: var();
}

.link {
  padding: 10px;
}

.more {
  text-align: center;
}

/* End Link */
/* Start Text */
p, h2, h4, h5, h6, a, button {
  text-transform: capitalize !important;
}

h1 {
  color: var();
  margin-bottom: 15px;
  margin-top: 0;
}

h2 {
  font-size: 44px;
}
h2 span {
  color: var(--color-blue);
}

/* End Text */
button, select {
  outline: none !important;
}

ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
ul li {
  list-style: none;
}

a, button {
  transition: 0.6s ease-in;
}

.big-img {
  height: 300px;
}

section .items {
  padding: 117px 0;
}

:root {
  --color-white: #EEEEEE;
  --color-blue: #00ADB5;
  --color-dark-blue: #222831;
  --color-gray: #393E46;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--color-dark-blue);
  padding: 30px 0 20px 0;
  border-bottom: 1px solid #635e5e;
}
header #toggleMenu {
  width: 45px;
  font-size: 25px;
  color: var(--color-white);
  transition: all 0.6s linear;
}
header #toggleMenu:hover, header #toggleMenu.active {
  color: var(--color-blue);
}
header .logo {
  font-size: 20px;
  width: 131px;
}
header #navBar {
  display: none;
}
header #navBar a:hover, header #navBar a.active {
  color: var(--color-blue) !important;
}
header #navBar a:hover::after, header #navBar a.active::after {
  content: "";
  border-bottom: 2px solid var(--color-blue);
}
header #navBar.active {
  display: flex;
}

.intro .left-section {
  position: relative;
  height: 270px;
}
.intro .left-section .vector {
  height: 157px;
  margin-right: 15px;
  width: 47px;
}
.intro .left-section .vector img {
  width: 100%;
  height: 100%;
}
.intro .left-section .info h1 {
  font-size: 35px;
}
.intro .left-section .info h1 span {
  color: var(--color-blue);
}
.intro .left-section .info .btns {
  gap: 13px;
}
.intro .left-section .info .btns button {
  font-size: 11px;
  border-radius: 50px;
  padding: 5px 15px;
  border: none;
  transition: all 0.6s linear;
}
.intro .left-section .info .btns button i {
  margin-left: 3px;
}
.intro .left-section .info .btns .btn-primary {
  background-color: var(--color-blue);
}
.intro .left-section .info .btns .btn-primary:hover {
  background-color: var(--color-gray);
}
.intro .left-section .info .btns .btn-secondary {
  background-color: var(--color-gray);
}
.intro .left-section .info .btns .btn-secondary:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
}
.intro .left-section .down-icon {
  position: absolute;
  background-color: var(--color-gray);
  padding: 13px;
  width: 60px;
  height: 50px;
  text-align: center;
  -webkit-animation: movedown 2s ease infinite;
          animation: movedown 2s ease infinite;
}
.intro .left-section .down-icon img {
  width: 14px;
}

.about-me .left-section {
  background-image: url(../images/group2378.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 450px;
}
.about-me .left-section .info {
  margin-top: 55px;
}
.about-me .left-section .info p {
  font-size: 11px;
  line-height: 23px;
  margin-top: 10px;
  letter-spacing: 1px;
  font-weight: 300;
  width: 290px;
  color: var(--color-white);
  transition: all 0.6s ease;
}
.about-me .left-section .info p .read-more {
  color: var(--color-white);
}
.about-me .left-section .info p .read-more:hover {
  color: var(--color-blue);
}

.projects {
  background-image: url(../images/group23757.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}
.projects .items {
  padding: 140px 0;
}
.projects .items .list-projects {
  gap: 15px;
}
.projects .items .list-projects .active {
  background-color: var(--color-blue);
}
.projects .items .list-projects li {
  border-radius: 50px;
  padding: 5px 20px;
  background-color: var(--color-gray);
  transition: all 0.6s linear;
}
.projects .items .list-projects li:hover {
  background-color: var(--color-blue);
}
.projects .items .list-projects li a {
  font-size: 12px;
}
.projects .items .items-projects ul {
  position: relative;
}
.projects .items .items-projects ul li {
  width: 255px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .items .items-projects ul li::after {
  content: "";
  position: absolute;
  background-color: var(--color-gray);
  background-size: 129px;
  opacity: 0.5;
  width: 224px;
  height: 156px;
}
.projects .items .items-projects ul li img {
  z-index: 1;
}
.projects .items .items-projects ul li:first-child img {
  width: 160px;
}
.projects .items .items-projects ul li:nth-of-type(2) img, .projects .items .items-projects ul li:last-child img {
  width: 190px;
}
.projects .items .items-projects ul li:nth-of-type(2) img {
  margin-right: 19px;
}

.contact .right-section {
  background-image: url(../images/group2380.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.contact .right-section form label {
  font-size: 13px;
}
.contact .right-section form input, .contact .right-section form textarea {
  background-color: var(--color-gray);
  border-radius: 15px;
  border: none;
  outline: none;
  color: var(--color-white);
}
.contact .right-section form input::-moz-placeholder, .contact .right-section form textarea::-moz-placeholder {
  color: #949494;
  font-size: 14px;
  text-transform: capitalize;
}
.contact .right-section form input:-ms-input-placeholder, .contact .right-section form textarea:-ms-input-placeholder {
  color: #949494;
  font-size: 14px;
  text-transform: capitalize;
}
.contact .right-section form input::placeholder, .contact .right-section form textarea::placeholder {
  color: #949494;
  font-size: 14px;
  text-transform: capitalize;
}
.contact .right-section form .input-items {
  gap: 18px;
}
.contact .right-section form .input-items input {
  width: 264px;
  height: 35px;
  padding-left: 20px;
}
.contact .right-section form textarea {
  width: 100%;
  height: 250px;
  resize: none;
  padding: 20px;
}
.contact .right-section form button {
  font-size: 15px;
  background-color: var(--color-blue);
  text-shadow: 2px 3px 3px black;
  height: 35px;
  width: 160px;
  border-radius: 20px;
  transition: all 0.6s linear;
}
.contact .right-section form button:hover {
  background-color: var(--color-gray);
}
.contact .right-section form button:focus {
  outline: none;
}
.contact .right-section form button img {
  width: 17px;
}

footer .info {
  gap: 30px 50px;
}
footer .info a {
  transition: 0.6s ease;
  color: var(--color-white) !important;
}
footer .info a:hover {
  color: var(--color-blue) !important;
}
footer .info img {
  width: 17px;
}
footer .info span {
  margin-left: 5px;
}
footer .social-media {
  gap: 30px;
  margin-bottom: 75px !important;
}
footer .social-media li {
  background-color: var(--color-gray);
  padding: 8px;
  border-radius: 20px;
  transition: all 0.6s linear;
}
footer .social-media li:hover {
  background-color: var(--color-dark-blue);
}
footer .social-media li img {
  width: 20px;
}
footer .privacy {
  font-size: 12px;
}

@media (max-width: 480px) {
  @-webkit-keyframes movedown {
    from {
      top: 90%;
    }
    to {
      top: 100%;
    }
  }
  @keyframes movedown {
    from {
      top: 90%;
    }
    to {
      top: 100%;
    }
  }
}
@media (max-width: 767px) {
  header #navBar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    margin-left: auto;
    justify-content: center;
    background-color: var(--color-gray);
    padding: 80px 0;
  }
  header ul {
    text-align: center;
    flex-direction: column;
    gap: 30px;
  }
  .intro {
    margin-top: 125px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .intro .vector {
    height: 145px;
    line-height: 11;
  }
  .intro .info h1 {
    font-size: 41px !important;
  }
}
@media (min-width: 992px) {
  .intro .vector {
    height: 217px !important;
    width: 55px !important;
  }
}
@media (min-width: 768px) {
  header #toggleMenu {
    display: none;
  }
  header #navBar {
    display: block !important;
  }
  .intro {
    margin-top: 160px !important;
  }
  .intro .left-section {
    height: 390px;
  }
  .intro .left-section .info h1 {
    font-size: 50px;
  }
  .intro .items, .about-me .items {
    flex-direction: unset !important;
  }
  .intro .items .right-section img, .about-me .items .right-section img {
    height: 395px;
  }
  .projects .top-section {
    align-items: flex-start !important;
  }
  .contact .left-section {
    text-align: left !important;
  }
  footer .privacy {
    text-align: end !important;
  }
}/*# sourceMappingURL=style.css.map */