// Start Header
header {
    padding: 30px 0;
    border-bottom: 1px solid #635e5e;

    #toggleMenu {
        // display: none;
        font-size: 25px;
    }

    .logo {
        font-size: 20px;
    }

    nav {
        a {
            transition: .6s ease-in;
    
            &:hover, &.active {
                color: var(--color-blue) !important;
            }
        }
    }
}