// Start Small Screens (Smaller Smartphones)
@media (min-width: 200px) and (max-width: 480px)
{

}
// End Small Screens (Smaller Smartphones)





// Start Small Screens (Smaller Smartphones)
@media (max-width: 767px) {
    header {
        #navBar {   
            position: fixed;
            top: 82px;
            left: 0;
            width: 100%;
            margin-left: auto;
            justify-content: center;
            background-color: var(--color-gray);
            padding: 80px 0;
        }

        ul {
            text-align: center;
            flex-direction: column;
            gap: 30px;
        }
    }
}
// End Small Screens (Smaller Smartphones)





// Start Small Screens (Smaller Smartphones)
@media (min-width: 768px) and (max-width: 991px) {
    
    .intro {
        .vector {           
            height: 145px;
            line-height: 11;                
        }

        .info {
            h1 {
                font-size: 41px !important;
            }           
        }
    }
}
// End Small Screens (Smaller Smartphones)





// Start Small Screens (Smaller Smartphones)
@media (min-width: 992px) {
    .intro {
        .vector {           
            height: 217px !important;
            width: 55px !important;
        }
    }
}


@media (min-width: 768px) {
    header {
        #toggleMenu {
            display: none;
        }

        #navBar {
            display: block !important;
        }
    }

    .intro {
        margin: 70px 0;

        .left-section {
            height: 390px;     

            .info {
    
                h1 {
                    font-size: 50px;
                }
            }
        }
    }

    .intro, .about-me {
        margin-top: 100px;
        
        .items {
            flex-direction: unset !important;
                
            .right-section {
        
                img {
                    height: 395px;
                }
            }
        }
    }

    .projects {
        .top-section {       
            align-items: flex-start !important;
        }
    }

    .contact {
        .left-section {       
            text-align: left !important;
        }
    }

    footer {
        .privacy {
            text-align: end !important;
        }
    }
}
// End Small Screens (Smaller Smartphones)





// Start Medium Screens (Tablets And Larger Smartphones)
@media (min-width: 481px) and (max-width: 768px)
{
    
}
// End Medium Screens (Tablets And Larger Smartphones)





// Start Large Screens (Laptops)
@media (min-width: 1200px)
{
    
}
// End Large Screens (Laptops)





// Start XX Large Screens (Larger Desktops And Monitors)
@media (min-width: 1400px)
{
    
}
// End XX Large Screens (Larger Desktops And Monitors)


















/*
bootstrap 5 responsive screen sizes:

* They include x-small which is between 0 and 576px.

* Small, which has the sm class infix is 576px or larger. // Screens (Smaller Smartphones)

* Medium, which has the md class infix is 768px or larger. // Screens (Tablets And Larger Smartphones)

* Large, which has the lg class infix is 992px or larger.

* Extra-large, which is infixed by xl , is 1200px or larger. // Screens (Laptops)

* Extra extra large, which is infixed by xxl , is 1400px or larger. // Screens (Larger Desktops And Monitors)
*/