@media (max-width: 480px)
{
    @keyframes movedown {
        from {top: 90%;}
        to {top: 100%;}
    }
}
// End Small Screens (Smaller Smartphones)





// Start Small Screens (Smaller Smartphones)
@media (max-width: 767px) {
    header {
        #navBar {   
            position: fixed;
            top: 80px;
            left: 0;
            width: 100%;
            margin-left: auto;
            justify-content: center;
            background-color: var(--color-gray);
            padding: 80px 0;
        }

        ul {
            text-align: center;
            flex-direction: column;
            gap: 30px;
        }
    }

    .intro {
        margin-top: 125px !important;
    }

    .about-me {
        .left-section {
            justify-content: center !important;
        }
    }
}
// End Small Screens (Smaller Smartphones)





// Start Small Screens (Smaller Smartphones)
@media (min-width: 768px) and (max-width: 991px) {
    
    .intro {
        .vector {           
            height: 145px;
            line-height: 11;                
        }

        .info {
            h1 {
                font-size: 41px !important;
            }           
        }
    }
}
// End Small Screens (Smaller Smartphones)





// Start Small Screens (Smaller Smartphones)
@media (min-width: 992px) {
    .intro {
        
        .left-section {
            // align-items: flex-start !important;

            .top-section {
                justify-content: flex-start;
                width: 100%;

                .vector {           
                    height: 217px !important;
                    width: 55px !important;
                }
            }     
        }
    }

    .about-me {
        .left-section {
            justify-content: left !important;
        }
    }
}


@media (min-width: 768px) {
    header {
        #toggleMenu {
            display: none;
        }

        #navBar {
            display: block !important;
        }
    }

    .intro {
        // margin: 70px 0;
        margin-top: 160px !important;


        .left-section {
            height: 390px;     

            .info {
    
                h1 {
                    font-size: 50px;
                }
            }

            // .down-icon {
            //     right: 240px !important;
            // }
        }
    }


    .intro, .about-me {
        
        .items {
            flex-direction: unset !important;
                
            .right-section {
        
                img {
                    height: 395px;
                }
            }
        }
    }

    .projects {
        .top-section {       
            align-items: flex-start !important;
        }
    }

    .contact {
        .left-section {       
            text-align: left !important;
        }
    }

    footer {
        .privacy {
            text-align: end !important;
        }
    }
}
// End Small Screens (Smaller Smartphones)